HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### env ###
.venv
IoT-dummy-wether-API/IoT.log
IoT-dummy-wether-API/IoT
IoT-dummy-wether-API/C:/logs/myapp/spring.log
IoT-dummy-wether-API/C:/logs/myapp/spring.log
